.edit-form {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.edit-form .edit_info {
  display: flex;
  flex-direction: row;
}

.edit-form .edit_info .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px 4px;
}

.edit-form .edit_info .inputs {
  margin: 0px 5px;
  display: flex;
  flex-direction: column;
}

.edit-form .edit_info .errors {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.edit-form .ban {
  color: red;
}

.edit-form .save.btn {
  margin: 0px 4px;
}
