.edit_info{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.edit_info .edit_input{
  margin-bottom: 15px;
}

.buttons_edit{
  display: flex;
  justify-content: center;
}

.form-btns{
  margin: 0px 20px;
}

.ban{
  color: red;
}
